@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: red;
    }
  }
  .animate-typing {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid red;
    animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
  }
  .typing-finished {
    border-right: none;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
.animate-shake {
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-400px) rotate(360deg);
    opacity: 0;
  }
}

.animate-confetti {
  position: absolute;
  animation: confetti 2s ease-in infinite;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7),
    rgba(255, 0, 0, 0.5)
  );
  width: 10px;
  height: 10px;
  animation-delay: random;
  animation-duration: random(1.5s, 2.5s);
}

.close-button {
  z-index: 10;
  position: absolute;
}
